<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.image_url %>)">
  <h1> <%= @garden.name %></h1>
</div>

<div class="container my-4">
  <div class="plants">
    <% @garden.plants.each do |plant| %>
      <%= link_to new_plant_plant_tag_path(plant) do  %>
        <%= render plant, plant: @plant %>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit "Create Plant", class: "btn btn-primary" %>
  <% end  %>
</div>
